.home {
    background: #f1efef;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto; 
    position: absolute;
}

.navBg {
    position: absolute;
    background-color: #947533;
    width: 100%;
    height: 280px;
}

.containerDogs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 86%;
    gap: 40px;
    margin: 120px auto 60px auto;
    justify-content: center;
}

