.pagination {
    display: flex;    
    flex-direction: row;    
    align-items: center;
    justify-content:center;
    list-style: none;
    /* border: 1px solid black; */
}

.number {
    height: 2.5em;
    width: 2.5em;
    margin: 6px;    
    border-radius: 6px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}